<h3>{{title}}</h3>
<div [ngStyle]="{color: 'white', 'background-color': 'blue'}">
   Uses fixed white text on blue background
</div>
<div>
   <span [ngStyle]="{color: 'red'}" [style.font-size.px]="fontSize">
      Red Text
   </span>
</div>
<ul>
      <li *ngFor="let message of mailService.messages;">
        {{message.text}}
      </li>
    </ul>

<app-simple-form *ngFor="let message of mailService.messages;"
      [message]="message.text"
      (update)="onUpdate(message.id, $event.text)">
    </app-simple-form>

<!--<div>-->
  <!--<app-simple-form></app-simple-form>
  <ul>
      <li *ngFor="let message of mailService.messages; index as i;">
        {{i}} - {{message}}
      </li>
    </ul>
   <p>API_URL: {{apiUrl}}</p>
</div>-->

<!--first: boolean - 若当前项是可迭代对象的第一项，则返回 true
last: boolean - 若当前项是可迭代对象的最后一项，则返回 true
even: boolean - 若当前项的索引值是偶数，则返回 true
odd: boolean - 若当前项的索引值是奇数，则返回 true-->
<!--除了 *ngFor 外，常用的结构指令还有 *ngIf、*ngSwitchCase 指令。-->